:root {
    --nigiri-color: #ffcd41;
    --sashimi-color: #c3e100;
    --dumplings-color: #69a9dd;
    --chopsticks-color: #adefcf;
    --tempura-color: #c9a6d4;
    --pudding-color: #ffbdc2;
    --maki-roll-color: #eb3525;
}
.card {
    font-size: .9rem;
    font-weight: 700;
}
.chopsticks {
    background-color: var(--chopsticks-color);
}
.dumplings {
    background-color: var(--dumplings-color);
}
.maki-roll {
    background-color: var(--maki-roll-color);
}
.nigiri {
    background-color: var(--nigiri-color);
}
.pudding{
    background-color: var(--pudding-color);
}
.sashimi {
    background-color: var(--sashimi-color);
}
.tempura {
    background-color: var(--tempura-color);
}
